* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}
.primary {
  color: #f52c2c;
}
.bg-primary {
  background-color: #f52c2c;
  color: white;
}
.btn {
  padding: 12px 20px;
  border-radius: 3px;
  border: none;
  outline: none;
  margin: auto;
  text-align: center;
  font-size: 17px;
}

.navigation {
  background-color: #b1b1b1;
  padding: 20px;
}
.nav-items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links > ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.nav-links > ul > li > a {
  text-decoration: none;
  text-transform: capitalize;
  color: black;
  font-size: 18px;
  font-weight: 500;
}

/* hero section start */
main{
  position: relative;
}
.hero-section {
  height: 100vh;
  background-image: url("asset/image/background.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  color: white;
}

.hero-wrapper {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.hero-div > h1 {
  font-weight: 900;
  font-size: 62px;
  margin-bottom: 20px;
}

.hero-div > p {
  font-size: 19px;
}
.hero-buttons {
  padding-top: 10px;
  margin-top: 10px;
  margin-left: 150px;
 
}
.hero-buttons > button {
  margin-right: 20px;
}
/* navigation compleat */
.main-first-section {
  background-image: url("asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1));
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
  color: white;
  padding: 70px;
}

.first-section-items-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.first-section-item-one>button {
  padding: 15px 20px;
  border-radius: 30px;
  font-size: 19px;
  margin-bottom: 30px;
}

.first-section-item-one > h1 {
  font-weight: 900;
  font-size: 40px;
  margin-bottom: 20px;
  color: #b1b1b1;
}
.first-section-item-one > p {
  font-size: 19px;
  margin-bottom: 20px;
  width: 60%;
}
.first-section-item-one>u>li {
  font-size: 19px;
  margin-bottom: 50px;
}
.author-details {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.author-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-right: 1px solid #f52c2c ;
  padding-right: 50px;
}
.author-image > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.author-detail-button>button{
  padding: 15px;
  border-radius: 30px;
  font-size: 17px;
  color: #f52c2c;
}
/* first-section-item-one end */

/* first-section-item-two start */
.section-two-cards-wrappers{
  display: flex;
  gap: 15px;


}

.section-two-card{
  background-color: white;
  color: black;
  padding: 80px 30px;
  border-radius: 5px;
  width: 300px;
  text-align: center;
  line-height: 2;
  margin-bottom: 10px;
  
}
.section-two-card>img{
  width: 80px;
  
}

/* first-section-item-two end */


/* main second section start */
.main-second-section{
  height: 170px;
  width: 80%;
  /* margin: auto; */
  position: absolute;
  top: 670px;
  left: 150px;


}
.second-section-items{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-shrink: 0;
  background-color: #f52c2c;
  padding: 40px;
  color:white;
  border-radius: 5px;
}
.phone-icon>img{
  width: 100px;

}
.second-section-item-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.middel-card-btn{
  font-size: 15px !important;
}
/* main second section end */

/* main third start */
.main-third-section{
  text-align: center;
  padding: 200px 50px;
}
.third-description{
  width: 50%;
  margin:50px auto;
}
.third-description>h1{
  font-weight: 900;
  font-size: 50px;
  margin-bottom: 20px;
  
}
.third-description>h4{
  font-size: 15px;
  font-weight: 300;
  
}
.third-cards-wrappers{
  display: flex;
  justify-content: space-around;
}
.third-card{
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
.third-card>h2,p{
  width: 330px;
  margin: 30px 10px;
  color: #3c3b3b;
  text-align: justify;
}
.third-card-image{
  width: 350px;
  border-radius: 5px;
}